<template>
  <div id="contact">
      <div class="warp">
          <h3 style="color:#6a6a6a;font-size:14px">联系我们</h3>
          <p style="color:#e0e0e0;font-size:12px;margin-bottom:59px">contact us</p >
          <p style="color:#6a6a6a;font-size:12px;margin-bottom:32px">{{$t('contact.gs')}}</p>
          <p style="color:#6a6a6a;font-size:12px;margin-bottom:31px">{{$t('contact.tel')}}</p>
          <p style="color:#6a6a6a;font-size:12px;margin-bottom:31px">{{$t('contact.email')}}</p>
          <p style="color:#6a6a6a;font-size:12px;margin-bottom:32px">{{$t('contact.add')}}</p >
          <div class="map">
              <img class="mappic" src="../assets/img/map.png" />
          </div>
      </div>
  </div>
</template>
<script>
export default {
  name:'contact'
}
</script>
<style lang="scss" scoped>
#contact{
  width:100%;
  height:100%;
  position: relative;
  .warp{
    width:1080px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      .map{
        width:60%;
        margin:0 auto;
        overflow: hidden;
        // animation:topinfo .5s alternate ease-in-out; 
    .mappic{
        width:100%;
      }
  }
  }
}
.lf{
animation:leftinfo .5s alternate ease-in-out;
}
.rf{
animation:rightinfo .5s alternate ease-in-out;
}
@keyframes rightinfo{
  0%{
    margin-right:-20px;
  }
  100%{
  margin-right:0px;
  }
}
@keyframes leftinfo{
  0%{
  margin-left:-20px;
  }
  100%{
    margin-left:0px;
  }
}

@keyframes topinfo{
  0%{
  margin-bottom:-20px;
  }
  100%{
    margin-bottom:0px;
  }
}
</style>
