<template>
<div class="homewarp">
    <div id="home">
      <div class="box">
          <div class="boxlogo">
            <img src="../assets/img/tit.png" alt="">
          </div>
            <img src="../assets/img/index.png" class="anmoyi">
          <p class="leftinfo">全球汽车座椅核心部件解决方案提供商</p>
          <p class="rightinfo">Innovation and development sustainable</p>
      </div>
  </div>
</div>
</template>
<script>
export default {
  name:'home',
  data(){
    return{
      isFixed:true
    }
  },
  mounted(){
    console.log('定位')
    this.isFixed = true;
    this.childClick (this.isFixed)
  },
  destroyed(){
    console.log('不定位')
    this.isFixed = false;
    this.childClick (this.isFixed)
  },
  methods:{
    childClick (bool) {
        // childByValue是在父组件on监听的方法
        // 第二个参数this.childValue是需要传的值
        this.$emit('isFixed', this.isFixed)
    }
  }
}
</script>
<style lang="scss" scoped>
.homewarp{
  width:100%;
  height:100%;
  background-image: url('../assets/img/bg.png');
}
#home{
  width:1080px;
  height:100%;
  margin:0 auto;
  .box{
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    text-align: center;
    // background:red;
    .leftinfo{
        position:absolute;
        top:50%;
        left:0;
        color:#212121;
        letter-spacing:2px;
        font-size:16px;
        animation:leftinfo 1s alternate ease-in-out;
    }
    .rightinfo{
        position:absolute;
        top:50%;
        right:0;
        color:#212121;
        letter-spacing:2px;
        font-size:16px;
        animation:rightinfo 1s alternate ease-in-out;
    }
    .boxlogo{
      position: absolute;
      left:0;
      bottom:0;
      width:238px;
      height:104px;
      transition: 0.5s;
    }
    .anmoyi{
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      width:320px;
      height:413.7px;
      display: inline-block; 
      animation:topinfo 1s alternate ease-in-out;
    }
  }
}
@keyframes leftinfo{
  0%{
    // letter-spacing: 1px;
    // filter:blur(20px);
    opacity: 0;
    margin-left:10%;
  }
  40%{
    // filter:blur(6px);
  }
  100%{
    opacity: 1;
     margin-left:0;
    // letter-spacing: 2px;
    // filter:blur(0);
  }
}
@keyframes rightinfo{
  0%{
    // letter-spacing: 1px;
    // filter:blur(20px);
    opacity: 0;
    margin-right:10%;
  }
  40%{
    // filter:blur(6px);
  }
  100%{
    opacity: 1;
     margin-right:0;
    // letter-spacing: 2px;
    // filter:blur(0);
  }
}
@keyframes topinfo{
  0%{
    // letter-spacing: 1px;
    // filter:blur(20px);
    opacity: 0;
    width: 300px;
    height:390px;
  }
  40%{
    // filter:blur(6px);
  }
  100%{
    opacity: 1;
      width:320px;
      height:413.7px;
    // letter-spacing: 2px;
    // filter:blur(0);
  }
}
@media screen and (max-width:1080px) {
  .homewarp{
    background: white;
  }
  #home{
      background-image: url('../assets/img/bg.png');
  }
}
</style>
