<template>
  <div class="introduce">
    <header :class="isDirection ? 'up':'down'">
      <div class="header_warp">
        <div class="warp">
          <div class="logo">
            <router-link to="/home">
              <img src="../assets/img/logo.png">
            </router-link>
          </div>
          <ul class="nav">
            <li class="item" v-for="(data,index) in item" :key="index">
              <a href="javascript:;" :class="{active:index==isActive}" @click="jump(index)">{{data}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div style="clear:both"></div>
    </header>
    <!-- 关于我们 -->
    <div class="introduct_warp">
      <div id="about" class="d_jump">
        <div class="about_top">
          <div class="about_pic">
            <img src="../assets/img/pic1.png" alt="">
          </div>
          <div class="jieshao">
            <div class="info">
              <h4>{{$t('aboutme.whoareyou')}}</h4>
              <p>{{$t('aboutme.whoareyouinfo')}}</p>
            </div>
            <div class="info">
              <h4>{{$t('aboutme.whatwedeliver')}}</h4>
              <p>{{$t('aboutme.whatwedeliverinfo')}}</p>
            </div>
          </div>
        </div>
        <div class="about_bottom">
          <ul class="about_num">
            <li class="about_numitem" >
              <p>全球总部</p>
              <p>Global Headquarter</p>
              <h3 style="margin-top:15px;">中国长春</h3>
              <h3>Changchun</h3>
            </li>
            <li class="about_numitem" >
                <p>成立时间</p>
                <p>Founded</p>
                <h3 class="bigfont">1988</h3>
            </li>
            <li class="about_numitem" >
              <p>聚焦市场</p>
              <p>Market of Focus</p>
              <h3 style="margin-top:15px;">中国与全球</h3>
              <h3> China & World</h3>
            </li>
            <li class="about_numitem" >
              <p>分布省市</p>
              <p>National Coverage</p>
              <h3 class="bigfont">20+</h3>
            </li>
            <li class="about_numitem" >
              <p>客户数量</p>
              <p>Number of Clients</p>
              <h3 class="bigfont">90+</h3>
            </li>
            <li class="about_numitem" >
              <p>员工人数</p>
              <p>Number of Employees</p>
              <h3 class="bigfont">300+</h3>
            </li>
            <li class="about_numitem" >
              <p>研发人员占比</p>
              <p>Research Personal</p>
              <h3 class="bigfont">31%</h3>
            </li>
            <li class="about_numitem" >
              <p>二级库数量</p>
              <p>Distribution Centres</p>
              <h3 class="bigfont">29</h3>
            </li>
            <li class="about_numitem" >
              <p>生产基地</p>
              <p>R&D Base</p>
              <h3 class="bigfont">6</h3>
            </li>
            <li class="about_numitem" >
              <p>出口总额(美元/2017)</p>
              <p>Innovation Centre</p>
              <h3 class="bigfont">830K</h3>
            </li>
            <li class="about_numitem" >
              <p>营业总额</p>
              <p>Total Sales Value</p>
              <h3 class="bigfont">32,000k</h3>
            </li>
            <li class="about_numitem" >
              <p>专利技术</p>
              <p>Proprietary technology</p>
              <h3 class="bigfont">136</h3>
            </li>
            <!-- <img src="../assets/img/num.png" /> -->
          </ul>
          <div class="jieshao">
            <div class="info">
              <h4>{{$t('aboutme.howwedelicer')}}</h4>
              <p>{{$t('aboutme.howwedelicerinfo')}}</p>
            </div>
            <div class="info">
              <h4>{{$t('aboutme.whatisourfuture')}}</h4>
              <p>{{$t('aboutme.whatisourfutureinfo')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 发展历程 -->
    <div id="growth" class="d_jump">
      <img src="../assets/img/growth.png" class="growthpic" />
      <img src="../assets/img/growthinfo.png" style=";padding:30px 0" class="growthpic" />
    </div>
    <!-- 企业优势 -->
    <div id="advantage" class="d_jump">
      <img src="../assets/img/advantage.png" class="growthpic" alt="">
      <div class="advantage_warp">
        <div class="advantage1">
          <div class="infol">
            <div class="msg">
              <h4>{{$t('advantages.whychooseus')}}</h4>
              <p>{{$t('advantages.whychooseusinfo')}}</p>
            </div>
            <div class="msg">
              <h4>{{$t('advantages.information')}}</h4>
              <p>{{$t('advantages.informationinfo')}}</p>
            </div>
          </div>
          <div class="infor">
            <div class="msg">
              <h4>{{$t('advantages.technological')}}</h4>
              <p>{{$t('advantages.technologicalinfo')}}</p>
            </div>
            <div class="mgs1">
              <h4>{{$t('advantages.visionofoperation')}}</h4>
              <p>{{$t('advantages.visionofoperationinfo')}}</p>
            </div>
            <div class="mgs1">
              <h4>{{$t('advantages.qualitypolicy')}}</h4>
              <p>{{$t('advantages.qualitypolicyinfo')}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "introduce",
  data() {
    return {
      isActive: 0,
      //item:['关于我们','发展历程','企业优势'],
      item: this.$t("childnav"),
      scrollAction: { x: "undefined", y: "undefined" },
      scrollDirection: "",
      isDirection: false
    };
  },
  mounted: function() {
    this.$nextTick(function() {
      window.addEventListener("scroll", this.onScroll);
    });
  },
  methods: {
    //滚动切换锚点颜色
    onScroll() {
      //先判断滚动方向
      this.scrollFunc();
      if (this.scrollDirection == "down") {
        //页面向下滚动要做的事情
        this.isDirection = true;
      } else if (this.scrollDirection == "up") {
        //页面向上滚动要做的事情
        this.isDirection = false;
      }
      let jump = document.querySelectorAll(".d_jump");
      let scrolled =
        document.documentElement.scrollTop ||
        window.pageYOffset ||
        document.body.scrollTop;
      console.log(
        scrolled,
        jump[0].offsetTop,
        jump[1].offsetTop,
        jump[2].offsetTop
      );
      // 586、1063分别为第二个和第三个锚点对应的距离
      if (scrolled >= -100000 && scrolled < jump[1].offsetTop) {
        // console.log('关于我们')
        this.isActive = 0;
      } else if (
        scrolled >= jump[1].offsetTop &&
        scrolled < jump[2].offsetTop
      ) {
        // console.log('发展历程')
        this.isActive = 1;
      } else {
        // console.log('企业优势')
        this.isActive = 2;
      }
    },
    //点击跳到对应区域
    jump(index) {
      console.log("index", index);
      // 用 class="d_jump" 添加锚点
      let jump = document.querySelectorAll(".d_jump");
      let total = jump[index].offsetTop;
      let distance =
        document.documentElement.scrollTop ||
        window.pageYOffset ||
        document.body.scrollTop;
      // 平滑滚动，时长500ms，每10ms一跳，共50跳
      let step = total / 50;
      if (total > distance) {
        smoothDown();
      } else {
        let newTotal = distance - total;
        step = newTotal / 50;
        smoothUp();
      }
      function smoothDown() {
        if (distance < total) {
          distance += step;
          document.body.scrollTop = distance;
          document.documentElement.scrollTop = distance;
          window.pageYOffset = distance;
          setTimeout(smoothDown, 10);
        } else {
          document.body.scrollTop = total;
          document.documentElement.scrollTop = total;
          window.pageYOffset = total;
        }
      }
      function smoothUp() {
        if (distance > total) {
          distance -= step;
          document.body.scrollTop = distance;
          document.documentElement.scrollTop = distance;
          window.pageYOffset = distance;
          setTimeout(smoothUp, 10);
        } else {
          document.body.scrollTop = total;
          document.documentElement.scrollTop = total;
          window.pageYOffset = total;
        }
      }
    },
    //判断滚动方向,改变header样式
    scrollFunc() {
      if (typeof this.scrollAction.x == "undefined") {
        this.scrollAction.x = window.pageXOffset;
        this.scrollAction.y = window.pageYOffset;
      }
      var diffX = this.scrollAction.x - window.pageXOffset;
      var diffY = this.scrollAction.y - window.pageYOffset;
      if (diffX < 0) {
        // Scroll right
        this.scrollDirection = "right";
      } else if (diffX > 0) {
        // Scroll left
        this.scrollDirection = "left";
      } else if (diffY < 0) {
        // Scroll down
        this.scrollDirection = "down";
      } else if (diffY > 0) {
        // Scroll up
        this.scrollDirection = "up";
      } else {
        // First scroll event
      }
      this.scrollAction.x = window.pageXOffset;
      this.scrollAction.y = window.pageYOffset;
    }
  }
};
</script>
<style lang="scss" scoped>
.introduce_warp {
  width: 100%;
  height: 100%;
}
.header_warp {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}
header {
  height: 103px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #e5e5e5;

  line-height: 103px;
  margin-bottom: 103px;
  background: white;
  .warp {
    width: 100%;
    .logo {
      float: left;
      width: 114.6px;
      height: 41.4px;
      margin-right: 17.7%;
      img {
        width: 100%;
      }
    }
    .nav {
      width: 38.7%;
      display: flex;
      float: right;
      font-size: 16px;
      justify-content: space-around;
      font-size: 14px;
      // background:red;
      .item a {
        color: #8e8e8e;
      }
      .item .active {
        color: #6e6eef;
      }
    }
  }
}
.up {
  animation: up 0.5s;
  animation-fill-mode: forwards;
}
.down {
  animation: down 0.5s;
  animation-fill-mode: forwards;
}
//header动画
@keyframes up {
  0% {
    top: 0;
    line-height: 103px;
  }
  100% {
    top: -50px;
    line-height: 153px;
  }
}
@keyframes down {
  0% {
    top: -50px;
    line-height: 153px;
  }
  100% {
    top: 0;
    line-height: 103px;
  }
}
// 关于我们
#about {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding-top: 142px;
  .about_top {
    width: 100%;
    height: 545px;
    margin: 0 auto;
    .about_pic {
      line-height: 545px;
      float: left;
      width: 48%;
      height: 545px;

      img {
        width: 100%;
      }
    }
  }
  .about_bottom {
    width: 100%;
    height: 444px;
    margin: 0 auto;
    .about_num {
      float: left;
      width: 48%;
      height: 444px;
      .about_numitem{
        float:left;
        width:25%;
        height:128px;
        p{
          color:#a0a7bb;
        }
        h3{
          font-size:14px;
          color:#1dafed;
        }
        .bigfont{
          margin-top:15px;
          font-size:25px;
        }
      }
    }
  }
}
// 发展历程
#growth {
  width: 100%;
  height: auto;
  img {
    width: 100%;
  }
}
// 企业优势
.advantage_warp {
  width: 1080px;
  margin: 0 auto;
}
#advantage {
  width: 100%;
  height: auto;

  img {
    width: 100%;
  }
  .advantage1 {
    width: 100%;
    height: 659px;
    padding-top: 84px;
    .infol {
      float: left;
      width: 48%;
      height: 100%;
    }
    .infor {
      float: right;
      width: 48%;
      height: 100%;

      .mgs1 {
        text-align: center;
        h4 {
          font-size: 18px;
          margin-bottom: 20px;
          color:#6e6eef;
        }
        p {
          margin-bottom: 50px;
        }
      }
    }
    .msg {
      h4 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 69px;
         color:#6e6eef;
      }
      p {
        text-align: left;
        margin-bottom: 164px;
        line-height: 18px;
      }
    }
  }
}
// 介绍
.jieshao {
  float: right;
  width: 48%;
  height: 440px;
  .info {
    text-align: center;
    h4 {
      color: #6e6eef;
      font-size: 18px;
      padding-bottom: 35px;
      // color: #a6a4a4;
    }
    p {
      color: #757575;
      text-align: left;
      font-size: 12px;
      padding-bottom: 121px;
    }
  }
}
@media screen and (max-width: 1080px) {
  #growth {
    .growthpic {
      width: 1080px;
    }
  }
  #advantage{
    .growthpic {
      width: 1080px;
    }    
  }
}
</style>
