<template>
  <div id="productdistribution_warp">
    <div class="productdistribution">
      <div class="productdistributioninfo">
        <p style="color:#6a6a6a;font-weight:900;">全球销售区域、工厂及二级库布局</p >
        <p style="color:#b5b5b6;font-weight:900">GLOBAL SALES TERRITORIES,DISTRIBUTION CENTRES AND PRODUCTION BASES</p >
      </div>
      <div class="mappic">
        <img class="mappic1" src="../assets/img/bujupic.png">
      </div>
      <div class="userfenbu">
        <p style="color:#6a6a6a; font-weight:900;margin-bottom:29px;">{{$t('networks.domestic')}}</p >
        <p style="color:#9d9d9d; font-weight:900;margin-bottom:51px;">{{$t('networks.info')}}</p >
      </div>
      <div class="userfenbupic">
        <img src="../assets/img/bujupic2.png" style="margin-bottom:113px; width:100%">
      </div>
      <div class="userfenbupic1">
        <ul class="div1 fl">
          <li class="div1item">
            <h3>长春</h3>
            <h3>Changchun</h3>
            <p>富维安道拓</p>
            <p>长春博泽</p>
            <p>Fuwei Johnson</p>
            <p>Changchun Brose</p>
          </li>
           <li class="div1item">
            <h3>北京</h3>
            <h3>Beijing</h3>
            <p>北京安道拓</p>
            <p>北京博泽</p>
            <p>Beijing Johnson</p>
            <p>Beijing Brose</p>
          </li>
          <li class="div1item">
            <h3>上海</h3>
            <h3>Shanghai</h3>
            <p>延锋安道拓</p>
            <p>上海李尔</p>
            <p>Yanfeng Johnson</p>
            <p>Shanghai Lear</p>
          </li>
          <li class="div1item">
            <h3>武汉</h3>
            <h3>Wuhan</h3>
            <p>东风安道拓</p>
            <p>武汉东风李尔</p>
            <p>Dongfeng Johnson</p>
            <p>Wuhan Dongfeng Lear</p>
          </li>
          <li class="div1item">
            <h3>广州</h3>
            <h3>Guangzhou</h3>
            <p>东风安道拓</p>
            <p>Dongfeng Johnson</p>
          </li>
          <li class="div1item">
            <h3>重庆</h3>
            <h3>Chongqing</h3>
            <p>延锋安道拓</p>
            <p>重庆李尔</p>
            <p>Yanfeng Johnson</p>
            <p>Chongqing Lear</p>
          </li>
          <li class="div1item">
            <h3>沈阳</h3>
            <h3>Shenyang</h3>
            <p>金杯安道拓</p>
            <p>沈阳李尔</p>
            <p>Jinbei Johnson</p>
            <p>Shenyang Lear</p>
          </li>
          <li class="div1item">
            <h3>郑州</h3>
            <h3>Zhengzhou</h3>
            <p>郑州日产</p>
            <p>Zhengzhou Nissan</p>
          </li>
          <li class="div1item">
            <h3>深圳</h3>
            <h3>Shenzhen</h3>
            <p>深圳比亚迪</p>
            <p>Shenzhen BYD</p>
          </li>
          <li class="div1item">
            <h3>海口</h3>
            <h3>Haikou</h3>
            <p>全兴工业</p>
            <p>GSK</p>
          </li>
        </ul>
        <!-- <img  class="div1 fl" src="../assets/img/bujupic1.png" style="margin-bottom:113px;"> -->
        <div class="div2 fr">
          <p style="color:#6a6a6a;margin-bottom:29px;font-size:16px">{{$t('networks.international')}}</p >
          <p style="color:#898989;margin-bottom:60px;">{{$t('networks.info1')}}</p >
          <p style="color:#898989;margin-bottom:29px;font-size:12px;line-height:22px;">{{$t('networks.info2')}}</p >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "productlayout"
};
</script>
<style lang="scss" scoped>
/*产品布局*/
#productdistribution_warp {
  width: 100%;
  overflow: hidden;
}
.productdistribution {
  width: 1080px;
  padding-top: 30px;
  margin: 0 auto;
}
.productdistributioninfo {
  height: 40px;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 60px;
  border-bottom: 1px solid #b5b2b2;
}
.mappic {
  width: 80%;
  margin: 0 auto;
}
.mappic1 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.userfenbupic1{
  width:100%;
  height:280px;
  // overflow: hidden;
}
.div1 {
  width:57%;
  height:100%;
  .div1item{
    width:20%;
    height:50%;
    float:left;
    .div1item h3:nth-child(2){
      color:red;
    }
    h3{
      color:#00aeef;
      font-size:14px;
    }
    p{
      color:#919393;
    }
  }
}
.div2 {
  padding-top:12px;
  width: 30%;
  height:100%;
}
</style>
