<template>
   <div class="warp">
      <div class="productservice">
        <div class="box1">
               <!-- tab -->
          <div class="tabs" >
            <div class="tabitem" data-index="2" @mouseenter="showSwiper">
              <img src="../assets/img/chanpinfuwu2.png" />
            </div>
               <div class="tabitem" data-index="1" @mouseenter="showSwiper">
              <img src="../assets/img/chanpinfuwu1.png" />
            </div>
            <div class="tabitem" data-index="3" @mouseenter="showSwiper">
              <img src="../assets/img/chanpinfuwu3.png" style="width:58%" />
            </div>
            <div class="tabitem" data-index="4" @mouseenter="showSwiper">
              <img src="../assets/img/chanpinfuwu4.png" />
            </div>
          </div>
            <!-- 轮播 -->
            <div class="mswiper">
            <!-- swiper1 -->
            <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
              <swiper-slide class="sitem" v-for="item in data" :key="item.id">
                 <div class="my-zoom-container"  data-swiper-zoom="2">
                  <img :src="item.pic" class="pic"> 
                 </div>
                  <h3>{{item.name}}</h3>
                  <span>{{item.msg}}</span>    
                  <p>{{item.info}}</p>  
                  <span style="display:none">{{index}}{{istab}}</span>                                        
              </swiper-slide>
              <div class="swiper-button-next swiper-button-blue" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-blue" slot="button-prev"></div>
            </swiper>
            <!-- swiper2 Thumbs -->
            <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
             <swiper-slide class="sitem" v-for="item in data" :key="item.id">
                    <img :src="item.pic" />                   
              </swiper-slide> 
            </swiper>
            </div>
            <!-- 轮播 -->
          </div>
        </div>
</div>
</template>
<script>
// import { climateSolution,comfortSolution,ElectronicsSolution,ancillaryProduct } from '../assets/swiperData.js';
import store from "../store/store.js";
import Vue from "vue";
import VueAwesomeSwiper from "vue-awesome-swiper";
// require styles
import "swiper/dist/css/swiper.css";
Vue.use(VueAwesomeSwiper /* { default global options } */);

export default {
  name: "productservice",
  data() {
    return {
      data: null,
      swiperOptionTop: {
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        zoom: {
          maxRatio: 2, //最大倍数
          minRatio: 1, //最小倍数
          // toggle: true, //不允许双击缩放，只允许手机端触摸缩放。
          containerClass: "my-zoom-container" //zoom container 类名
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true
      }
    };
  },
  props: ["index", "istab"],
  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
    console.log("mounted");
    let id;
    if (this.$route.params.id) {
      // console.log('params==============' + this.$route.params.id)
      id = this.$route.params.id;
    } else {
      //  console.log("productid====" + this.$store.state.productid)
      id = this.$store.state.productid;
    }
    this.userswitch(id);
  },
  directives: {},
  beforeUpdate() {
    console.log("beforeUpdate");
    console.log(store.state.productid);
  },
  computed: {},
  updated() {
    console.log("Update");
    this.userswitch(store.state.productid);
  },
  methods: {
    showSwiper(e) {
      var id = e.currentTarget.dataset.index;
      this.$store.dispatch("ADD_DATA", {
        product_id: id
      });
      // console.log(index)
      this.userswitch(store.state.productid);
    },
    userswitch(index) {
      index = index - 0;
      switch (index) {
        case 1:
          // console.log('climateSolution')
          this.data = this.$t("climateSolution");
          break;
        case 2:
          // console.log('comfortSolution')
          this.data = this.$t("comfortSolution");
          break;
        case 3:
          // console.log('ElectronicsSolution')
          this.data = this.$t("ElectronicsSolution");
          break;
        case 4:
          // console.log('ancillaryProduct')
          this.data = this.$t("ancillaryProduct");
          break;
        default:
          break;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.warp {
  width: 100%;
  height: 100%;
}
.box1 {
  width: 100%;
  height: 614px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.productservice {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  // background:green;
  .tabs {
    width: 258px;
    height: 614px;
    float: left;
    .tabitem {
      width: 100%;
      height: 146px;
      margin-bottom: 10px;
      margin-left:-50px;
      transition: 0.5s;
      opacity: 0.5;
      position: relative;
      img {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .tabitem:hover {
      opacity: 1;
      box-shadow: 0px 0px 5px #ccc;
    }
  }
  // swiper
  .mswiper {
    width: 800px;
    height: 614px;
    float: right;
    //vue版本
    .swiper-container {
    }
    .sitem {
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        width: 162.3px;
        height: 114.3px;
      }
      .pic {
        display: inline-block;
        width: 432.8px;
        height: 304.8px;
        margin-bottom: 18px;
      }
      h3 {
        font-size: 18px;
        line-height: 100%;
        color: #57585a;
        margin-bottom: 10px;
      }
      span {
        display: inline-block;
        color: #a3a3a3;
        margin-bottom: 30px;
      }
      p {
        width: 541px;
        margin: 0 auto;
        color: #a3a3a3;
      }
    }
    .gallery-top {
      height: 80% !important;
      width: 100%;
    }
    .gallery-thumbs {
      height: 20% !important;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }
  }
}
</style>
