<template>
  <div id="root">
    <header :class="this.isfixed ? 'out' : '' ">
      <div class="warp">
        <div class="logo">
          <router-link to="/home">
            <img src="../assets/img/logo.png">
          </router-link>
        </div>
        <ul class="nav">
          <router-link tag="li" class="navitem" to="/introduce">{{$t('nav.corporateoveriew')}}</router-link>
          <div id="hover" class="navitem" @mouseenter="showlist" @mouseleave="hidelist">
            <router-link tag="li" class="navitem" to="/ProductService">{{$t('nav.productsandservices')}}</router-link>
            <transition name="fade">
              <div class="listwarp" v-if="isShow">
                <ul class="list" @mousedown="skip">
                  <li data-index="2" class="item">{{$t('category.comfortsolution')}}</li>
                  <li data-index="1" class="item">{{$t('category.climatesolution')}}</li>
                  <li data-index="3" class="item">{{$t('category.electronicsSolution')}}</li>
                  <li data-index="4" class="item" style="border:none">{{$t('category.ancillaryproduct')}}</li>
                </ul>
              </div>
            </transition>
          </div>
          <router-link tag="li" class="navitem" to="/ProductLayout">{{$t('nav.networks')}}</router-link>
          <router-link tag="li" class="navitem" to="/ServiceNetwork">{{$t('nav.globapartners')}}</router-link>
          <router-link tag="li" class="navitem" to="/Contact">{{$t('nav.contact')}}</router-link>
          <li>
            <div class="tab">
              <span @click="en">English</span>
              <span>/</span>
              <span @click="cn">中文</span>
            </div>
          </li>
        </ul>

      </div>
      <div style="clear:both"></div>
    </header>
    <div class="main">
      <router-view v-on:isFixed="isFixed" :index.sync="index" :istab="istab"></router-view>
    </div>
  </div>
</template>
<script>
export default {
  name: "root",
  data() {
    return {
      isShow: false,
      isfixed: false,
      index: 1,
      istab: "first"
    };
  },
  mounted() {
    if (localStorage.lang) {
      this.$i18n.locale = localStorage.lang;
    }
  },
  methods: {
    en() {
      localStorage.lang = "en";
      this.$i18n.locale = localStorage.lang;
      this.istab = "en";
    },
    cn() {
      localStorage.lang = "cn";
      this.$i18n.locale = localStorage.lang;
      this.istab = "cn";
    },
    showlist() {
      // console.log('进入')
      this.isShow = true;
    },
    hidelist() {
      //  console.log('出来')
      this.isShow = false;
    },
    isFixed(bool) {
      this.isfixed = bool;
    },
    skip(e) {
      let id = e.target.dataset.index;
      this.index = id;
      this.$store.dispatch("ADD_DATA", {
        product_id: id
      });
      // this.$router.push({ name: 'productservice', params: { id: id }})
      this.$router.push({ path: `/productservice/${id}` });
    }
  }
};
</script>
<style lang="scss" scoped>
#root {
  width: 100%;
  height: 100%;
  .out {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  header {
    background-color: transparent;
    width: 100%;
    line-height: 103px;

    .warp {
      width: 1080px;
      height: 103px;
      margin: 0 auto;
      .logo {
        float: left;
        width: 191px;
        height: 69px;
        img {
          width: 100%;
        }
      }
      .nav {
        width: 720px;
        float: right;
        font-size: 14px;
        position: relative;
        .navitem {
          float: left;
          width: 120px;
          height: 103px;
          text-align: center;
        }
        .tab {
          float: right;
          width: 120px;
          height: 103px;
          text-align: right;

          span:hover {
            color: blue;
            cursor: pointer;
          }
        }
        .navitem:hover {
          color: #b5b5b5;
          cursor: pointer;
        }
        #hover {
          width: 120px;
          height: 103px;
          .listwarp {
            position: absolute;
            top: 103px;
            left: 110px;
            width: 106px;
            height: 181px;
            padding: 10px 22px 0;
            background-image: url("../assets/img/show.png");
            z-index: 9999;
            .item {
              text-align: center;
              line-height: 44px;
              font-size: 12px;
              color: white;
              border-bottom: 1px solid #8c919d;
            }
            .item:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .main {
    width: 100%;
    height: 100%;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
