<template>
  <div class="servicenetwork">
    <div class="businessscope">
      <p style="padding-top:80px;padding-bottom:11px;font-size:12px;color:#6a6a6a;text-align:center;">我们的客户</p >
      <p style="padding-bottom:22px;font-size:12px;color:#b6b6b6;text-align:center;">OUR CLIENTS</p >
      <p style="font-size:12px;color:#b6b6b6;text-align:center; line-height:30px;margin-bottom:101px">{{$t('ourclients.info')}}</p >
      <div style="width:50%;margin:0 auto;">
        <img src="../assets/img/yewu.png" style="width:100%">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name:'servicenetwork'
}
</script>
<style lang="scss" scoped>
/*业务网络*/
.servicenetwork{
  width:100%;
  height:80%;
  position: relative;
}
.businessscope{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:1080px;
  height:auto;
	margin-left:auto;
  margin-right:auto;
  // background:red;
}
</style>
